#pss_gallery {
    position: relative;
}

#pss_gallery .sectionHeader,
#pss_gallery .sectionBody {
    margin: 0px !important;
}

#pss_gallery .sectionBody { 
}


.actionButton:hover {
    cursor: pointer;
    background-position: bottom left;
    -webkit-box-shadow: 0 0 10px #B8C7D6;
    -moz-box-shadow: 0 0 10px #b8c7d6;
    box-shadow: 0 0 10px #B8C7D6;
    -webkit-transition: -webkit-box-shadow 0.2s linear;
}
.actionButton {
    text-align: center;
    color: #222C36;
    font-weight: bold;
    font-size: 12px;
    background: #C7CED2 url(images/misc/button-gradient.png) repeat-x top left;
    padding: 4px 6px;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-text-shadow: 1px 1px 0 #fff;
    -moz-text-shadow: 0 1px 1px #fff;
    text-shadow: 0 1px 1px white;
    border: 1px solid #8EA4BE;
    outline: none;
} 


.form_container { 
    width: 310px;
    padding-left: 10px;
    height: 370px;
    vertical-align: top;
    border-left: 1px solid #E3E3E3;
}

.wrapper_images {
    float: left;
    height: 370px;
    overflow-y: auto;
}

.wrapper_images div {
    cursor: pointer;
}

.wrapper_form_upload table {
    width: 100%;
}

.visible_lang {
    width: 20px;
    text-align: center;
}

.visible_radio {
    padding-right: 10px;
    width: 30px;
}

.gallery_image { 
    float: left;
    background-position: 50% 50%;
    width: 120px;
    height: 90px;
    margin: 4px; 
    border: 10px solid #F5F6F6;
    cursor: pointer;
} 

.gallery_form_edit td ,
.gallery_form_data td{
    padding-bottom: 20px;    
}

#pss_gallery h1{
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 18px !important;
    font-weight: bold;
}

.table_upload td {
    padding-bottom: 0px !important;
}

#viewUpload {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    cursor: pointer;
}
 
.image_selected {
    border-color: #ffcccc;
}

/*.container_image {
    display: table;
    width: 120px;
    float: left;
}

.container_image div {
    clear: both;
    float: right;
    display: table;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-color: #F5F6F6;
    color: #ffcccc;
}

.container_image img {
    clear: both;
    margin-top: 0px !important;
}*/

.pss_gallery_waiter { 
    position: absolute;
    background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.pss_gallery_waiter img {
    margin-top: 175px !important;
}